.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/src/assets/all.jpeg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.banner-txt {
  text-align: center;
  position: absolute; /* 핵심코드 */
  top: 45%; /* 핵심코드 */
  left: 50%; /* 핵심코드 */
  transform: translate(-50%, -50%); /* 핵심코드 */
  color: #fff;
  font-family: ProductSans-Black;
  font-size: 100px;
  font-weight: bold;
  animation: reveal 1s cubic-bezier(0, 0, 0.58, 1) forwards;
}

@keyframes reveal {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100);
  }
}
