.camp {
  font-family: ProductSans-Black;

  padding-top: 30px;
}

.camp-name-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.camp-name {
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: 500;
}

.camp-poster {
  display: flex;
  justify-content: center;

  margin-top: 45px;
}
