.Header_Container {
  display: flex;
  padding: 10px 150px 5px 100px;
  height: 80px;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #828181;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  background-color: #fff;
}
.Header_Right {
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: px;
}
.Header_Right span {
  margin: 30px 0 30px 30px;
}
.Header_Left {
  display: flex;
  align-items: center;
}

.Header_Left span {
  padding-left: 10px;
  font-size: 30px;
}
.Header_Link {
  cursor: pointer;
  text-decoration: none;
  color: #000;

  &:hover {
    color: #eb5a3c;
  }
}

#main-logo {
  width: 45px;
  cursor: pointer;

  &:active {
    transform: translateY(1px);
    transition: all 0.1s ease;
  }
}
