.vision {
  display: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  margin-bottom: 200px;
}

.vision-txt {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 30px 0px 30px 0px;

  font-family: ProductSans-Regular;
  font-weight: bold;
  font-size: 35px;
}

.vision-txt h2 {
  margin: 0px;
}

.vision-pic {
  width: 100%;
}
